@import "_vars.scss";

.about {
  color: #fff;
  &-bg {
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
    height: 750px;
  }
  &-name {
    display: flex;
    flex-direction: column;
    max-width: 530px;
    justify-content: center;
    & h1 {
      font-size: 50px;
      line-height: 70px;
      font-weight: $bold;
    }
    & p {
      margin-top: 40px;
      font-size: 16px;
      max-width: 330px;
      line-height: 22.4px;
    }
    &__about-us {
      margin-top: 60px;
      display: flex;
      gap: 15px;
      align-items: center;
      & a {
        font-weight: $bold;
        font-size: 16px;
        color: #fff;
        letter-spacing: 1px;
      }
    }
  }
  &-service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 24px;
    &__item {
      width: 306px;
      height: 250px;
      background-color: #5DB7DE;
      border-radius: 20px;
      position: relative;
      & h5 {
        position: absolute;
        top: 30px;
        left: 35px;
        font-weight: $bold;
      }
      & p {
        position: absolute;
        bottom: 30px;
        left: 35px;
        font-weight: $bold;
        font-size: 19px;
      }
    }
  }
}