@media (max-width:500px) {
  .container {
    max-width: 350px;
    margin: 0 auto;
  }
  .about-name {
    padding: 0 24px;
  } 
  .about-name h1 {
  font-size: 30px;
  line-height: 40px;
  }
  .about-service {
    display: none;
  }
  .service-inner {
    flex-direction: column;
    align-items: center;
    margin: 150px 0 70px 0;
  }
  .service-inner h2 {
    text-align: center;
  }
  .service-inner__menu {
    grid-template-columns: 1fr;
    gap: 24px;
    padding-top: 24px;
  }
  .service-inner__menu-item {
    width: 338px;
  }
  .service-inner__menu-item p {
    font-size: 16px;
  }
  .about-company-inner__text h2 {
    text-align: center;
  }
  .about-company-inner__text-info {
    margin: 60px 20px 0 30px;
  }
  .about-company-inner__text {
    width: 100%; 
  }
  .about-company-inner {
    padding: 70px 0;
    flex-direction: column;
    align-items: center;
  }
  .about-company-inner__video {
    padding-top: 24px;
    width: 300px;
  }
  .about-company-inner__video-movie {
    width: 300px;
    height: 200px;
  }
  .about-company-inner__video-rate-calculation {
    height: 220px;
  }
  .news-inner {
    padding: 70px 0;
  }
  .news-inner__title {
    justify-content: space-around;
  }
  .news-inner__cards {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  } 
  .footer-nav__inner-menu {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .footer-nav__inner-menu-list {  
    flex-direction: column;
    gap: 24px;
    width: 268px;
  }
  .header__menu {
    position: absolute;
    z-index: 5;
    background-color: #f4f4f4;
    left: 0;
    right: 0;
    top: -380px;
    transition: all .4s ease-in-out;
  }
  .header-menu__list {
    gap: 20px;
    flex-direction: column;
    padding: 20px 0 40px 59px;
  }
  .search-and-lang {
    display: flex;
    gap: 40px;
  }
  .header-inner {
    flex-direction: column;
    gap: 24px;
    padding: 60px 0 40px;
  }
  .header-inner.open {
    .header__menu {
      top: 0;
    }
  }
  .breadcrumbs-inner {
    gap: 0;
    flex-direction: column;
    & img {
      transform: rotate(90deg);
    }
    & p {
      text-align: center;
    }
  }
  .document-inner__title {
    font-size: 28px;
    line-height: 30px;
  }
  .document-inner {
    width: 100%;
    margin: 80px auto 80px;
  }
  .footer-inner__logo {
    justify-content: space-around !important;
    height: 140px !important;
    flex-direction: column !important;

    & a {
      font-size: 12px;
    }
  }
  .calculate-inner__calculation-point {
    gap: 4px;
  }
  .calculate-inner {
    width: 100%;
    margin: 0 auto;
  }
  .calculate-inner__calculation-textarea {
    width: 100%;
  }
  .calculate-inner__calculation {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
  .calculate-inner__feedback-info {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .calculate-inner__feedback-point {
    gap: 4px;
  }
  .send-button {
    padding: 40px 0 40px 0;
  }
  .calculate-inner__title {
    font-size: 28px;
    line-height: 30px;
  }
  .burger-menu-button {
    display: flex;
  }
}