@import "_vars.scss";

.news-inner{
  padding: 150px 0;
  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-weight: $bold;
    align-items: center;
    & .all {
      display: flex;
      gap: 15px;
      align-items: center;
      & p {
        color: #3D348B;
        font-size: 16px;
        font-weight: $bold;
      }
    }
  }
  &__cards {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    &-item {
      width: 306px;
      &-info {
        margin-top: 25px;
        & h4 {
          font-weight: $bold;
          font-size: 19px;
          margin-top: 15px;
        }
        & p {
          margin-top: 12px;
        }
      }
    }
  }
}